version: '3.9'

services:
  postgres:
    image: postgres:16
    container_name: n8n-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: n8n
      POSTGRES_PASSWORD: n8n
      POSTGRES_DB: n8n
    ports:
      - '5432:5432'
    volumes:
      - ./docker/postgres/init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./docker/n8n-postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U $$POSTGRES_USER']
      interval: 10s
      timeout: 5s
      retries: 5

  n8n:
    image: n8nio/n8n:latest
    container_name: n8n
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - '5678:5678'
    expose:
      - '5678'
    environment:
      DB_TYPE: postgresdb
      DB_POSTGRESDB_HOST: postgres
      DB_POSTGRESDB_PORT: 5432
      DB_POSTGRESDB_DATABASE: n8n
      DB_POSTGRESDB_USER: n8n
      DB_POSTGRESDB_PASSWORD: n8n
      N8N_BASIC_AUTH_ACTIVE: 'false'
      # N8N_HOST: 'localhost'
      N8N_PORT: 5678
      N8N_PROTOCOL: 'http'
    volumes:
      - ./docker/n8n-data:/home/node/.n8n

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    environment:
      PORT: 3000
      SOURCE_API_URL: ${SOURCE_API_URL:-https://n8n-apps.nlabshealth.com/webhook/data-5dYbrVSlMVJxfmco}
      TARGET_API_URL: ${TARGET_API_URL:-http://n8n:5678}
    ports:
      - '3000:3000'
    depends_on:
      - n8n

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    environment:
      PORT: 8080
      API_URL: ${API_URL:-http://backend:3000}
      N8N_URL: ${N8N_URL:-http://n8n:5678}
    ports:
      - '8080:8080'
    depends_on:
      - backend
      - n8n
